<h5><b>Your Cart</b></h5>

<table>
	<thead>
		<tr>
			<th scope="col">Quantity</th>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
		</tr>
	</thead>

	<tbody>
		<% @cart.lineitems.each do |lineitem| %>
			<tr>
				<td><%= lineitem.quantity %></td>
				<td><%= lineitem.product.name %></td>
				<td><%= lineitem.product.price %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="2">Total</td>
			<td><%= @cart.item_total_price %></td>
		</tr>
</table>

<!-- 
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
 -->
 <%= button_to 'Check Out', new_order_path, method: :get %>
 <%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>