<p id="notice" class="hidden"><%= notice %></p>

<div class="shopper">
	<h1 class="text-center">Products Catalog</h1>

    <% @products.each do |product| %>
    	<div class="entry">
        <%= image_tag product.image %>
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <div class="price-line">
        	<p class="price"><%= "$" << product.price.to_s %></p>
        </div>
    	</div>
    <% end %>

</div>		
