<!DOCTYPE html>
<html>
  <head>
    <title>RailsOnlineStore</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Latest compiled and minified CSS -->
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container <%= controller.controller_name %>">
      <div id="banner"> Amazing Games</div>
      <div id="columns">
        <div id="side">

          <div id="cart">
            <%= render @cart %>
          </div>
          <ul>
            <li><a href="http://www....">Home</a></li>
            <li><a href="http://www..../faq">Questions</a></li>
            <li><a href="http://www..../news">News</a></li>

            <li><a href="http://www..../contact">Contact</a></li>
          </ul>

          <% if session[:user_id] %>
            <ul>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            </ul>
            <%= button_to 'Logout', logout_path, method: :delete %>
            <% end %>

        </div>

        <div id="main">
          <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>
